	<!DOCTYPE html>
	<html>
	  <head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<title>{% block title %}DCSSA{% endblock %}</title>
		<meta charset="utf-8" />

		{%  load static %}
		<link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
		<script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link href="//cdn.bootcss.com/bootstrap-datetimepicker/4.17.44/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
        <script src="//cdn.bootcss.com/moment.js/2.17.1/moment.min.js"></script>
        <script src="//cdn.bootcss.com/bootstrap-datetimepicker/4.17.44/js/bootstrap-datetimepicker.min.js"></script>
          <script>(function () {
$(document).ready(function() {
$("#1").datetimepicker();
$("#2").datetimepicker();
});
})(jQuery);
</script>
	  </head>
	  <body>

		<nav class="navbar navbar-default" role="navigation">
		  <div class="container-fluid">
		<div class="navbar-header">
		  <a class="navbar-brand" href="/accounts/profile">DCSSA RSVP</a>
		</div>
		<div>
		  <ul class="nav navbar-nav">
				<li><a href="/accounts/editprofile">Edit Profile</a></li>
				<li><a href="/accounts/request">Request Service</a></li>
				<li><a href="/accounts/search">Search Request</a></li>
				{% if request.user.is_authenticated %}
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
				Me
				<b class="caret"></b>
			  </a>
				  <ul class="dropdown-menu">
                      <li><a href="/accounts/profile">Profile</a></li>
                      <li><a href="/accounts/passwordreset/{{request.user.id}}">Change Password</a></li>
                      <li><a href="/accounts/requestlist/65536">My Request List</a></li>
                      <li><a href="/accounts/acceptlist">My Accept List</a></li>
                      <li><a href="/accounts/log_out">Logout</a></li>
				  </ul>
				</li>
				{% else %}
				<li><a href="/accounts/login">Login</a></li>
				{% endif %}

		  </ul>
		</div>
		  </div>
		</nav>
		{% block body %}
		{% endblock %}
	  </body>
	</html>
