{% extends 'base.html' %}
{% block title %}My Accept Page{% endblock %}
{% block body %}
<h3> These are all the request that you have accepted.</h3>

<table class="table table-hover">
  <thead>
    <tr>
      <th>time</th>
      <th>number of people</th>
      <th>number of luggage</th>
      <th>flight number</th>
      <th>status</th>
    </tr>
  </thead>
  <tbody>
    {% for item in acceptlist %}
    <tr>
        <td>{{item.req.time}}</td>
        <td>{{item.req.pnumber}}</td>
        <td>{{item.req.bnumber}}</td>
        <td>{{item.req.fnumber}}</td>
        <td>
        {% if item.req.status == -1 %}
        pending
        {% elif item.req.status == 0 %}
        serving
        {% else %}
        closed
        {% endif %}
        </td>
    </tr>
    {% endfor %}
  </tbody>
</table>


{% endblock %}
