{% extends 'base.html' %}
{% block title %}Edit Profile{% endblock %}
{% block body %}
<h1>Please enter your personal information</h1>
<form action="" method="post">
  {% csrf_token %}
  {{form.as_ul}}
  {{f.as_ul}}
  <input type="submit" class="btn btn-primary" value="Edit" />
</form>


{% endblock %}