{% extends "base.html" %}

{% block title %}Welcome to the DCSSA RSVP website!{% endblock%}

{% block body %}
<h1>My profile</h1>

<table class="table table-hover">
  <tbody>
    <tr>
      <td>Username</td>
      <td>{{user.username}}</td>
    </tr>
    <tr>
      <td>Email</td>
      <td>{{user.email}}</td>
    </tr>
    <tr>
      <td>Firstname</td>
      <td>{{user.first_name}}</td>
    </tr>
    <tr>
      <td>Lastname</td>
      <td>{{user.last_name}}</td>
    </tr>
  </tbody>
</table>
<a href="/accounts/editprofile" class="btn btn-primary"> Go to edit</a>
{% endblock %}