{% extends "base.html" %}

{% block title %}Welcome to the DCSSA RSVP website!{% endblock%}

{% block body %}
<h5>Create an account</h5>
<p>Please, sign up using the following form:</p>
<form action="." method="post">
  {{ user_form.as_p }}
  {% csrf_token %}
  <p><input type="submit" value="Create my account"></p>
</form>
{% endblock %}