{% extends 'base.html' %}
{% block title %}Product Page{% endblock %}
{% block body %}
<h1>Please enter your pickup information </h1>
<form action="" method="post">
  {% csrf_token %}
<table>
  <tr>
        <td>Time: </td>
        <td>
            <div class=" date input-group" id="datetimepicker_1_datetime">
                <input class=" form-control" id="1_datetime" name="datetime1" type="text" required/>
            </div>
        </td>
  </tr>
  <tr>
    <td>Number of people: </td>
    <td><input type="number" name="Pnumber" required/></td>
  </tr>
  <tr>
    <td>Number of luggage: </td>
    <td><input type="number" name="Bnumber" required/></td>
  </tr>
  <tr>
    <td>Flight Number: </td>
    <td><input type="text" name="Fnumber" required/></td>
  </tr>
</table>
    <input type="submit" class="btn btn-primary" value="Submit"  />
</form>


{% endblock %}
