{% extends 'base.html' %}
{% block title %}Request Page{% endblock %}
{% block body %}
{% if uid == req.owner.pk and  req.status == -1%}
<form action="" method="post">
  {% csrf_token %}
<table>
  <tr>
        <td>Time: </td>
        <td>
            <div class=" date input-group" id="datetimepicker_1_datetime">
                <input class=" form-control" id="1_datetime" name="datetime1" type="text" required/>
            </div>
        </td>
  </tr>
  <tr>
    <td>Number of people: </td>
    <td><input type="number" name="Pnumber" required/></td>
  </tr>
  <tr>
    <td>Number of luggage: </td>
    <td><input type="number" name="Bnumber" required/></td>
  </tr>
  <tr>
    <td>Flight Number: </td>
    <td><input type="text" name="Fnumber" required/></td>
  </tr>
</table>
    <input type="submit" class="btn btn-primary" value="Edit" name="type" />
</form>
{% else %}

<table class="table table-hover">
  <thead>
    <tr>
      <th>time</th>
      <th>number of people</th>
      <th>number of luggage</th>
      <th>flight number</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{req.time}}</td>
      <td>{{req.pnumber}}</td>
      <td>{{req.bnumber}}</td>
      <td>{{req.fnumber}}</td>
    </tr>
  </tbody>
</table>
{% endif %}
{% if uid != req.owner.pk %}
<form action="" method="post">
  {% csrf_token %}
  <input type="submit" class="btn btn-primary" value="Accept" name="type" />
</form>
{% endif %}
{% endblock %}