{% extends 'base.html' %}
{% block title %}My Request Page{% endblock %}
{% block body %}
{% if change == 1 %}
<p>You have successfully closed a request. Click here to make a feedback.</p>
{% endif %}
<h3> These are all the request that you have made.</h3>

<table class="table table-hover">
  <thead>
    <tr>
      <th>time</th>
      <th>number of people</th>
      <th>number of luggage</th>
      <th>flight number</th>
      <th>status</th>
      <th>more</th>
    </tr>
  </thead>
  <tbody>
    {% for item in req %}
    <tr>
      <td>{{item.time}}</td>
      <td>{{item.pnumber}}</td>
      <td>{{item.bnumber}}</td>
      <td>{{item.fnumber}}</td>
      <td>
        {% if item.status == -1 %}
        pending
        {% elif item.status == 0 %}
        serving
        {% else %}
        closed
        {% endif %}
      </td>
      <td>
        {% if item.status == 0 %}
        <a href="/accounts/requestlist/{{item.pk}}" class="btn btn-primary"> Arrived home</a>
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>


{% endblock %}
