{% extends 'base.html' %}
{% block title %}Search Page{% endblock %}
{% block body %}
<h1> Search page</h1>
<form action="" method="post">
  {% csrf_token %}
    <table>
        <tr>
            <td>From:</td>F
            <td>
                <div class=" date input-group" id="11">
                    <input class=" form-control" id="1" name="datetime1" type="text" required/>
                </div>
            </td>
            <td>To:</td>
            <td>
                <div class=" date input-group" id="22">
                    <input class=" form-control" id="2" name="datetime2" type="text" required/>
                </div>
            </td>
        </tr>
    </table>
  <input type="submit" class="btn btn-primary" value="Search" />
</form>
<table class="table table-hover">
  <thead>
    <tr>
        <th>owner</th>
        <th>time</th>
        <th>pnumber</th>
        <th>bnumber</th>
        <th>fnumber</th>
        <th>enter</th>
    </tr>
  </thead>
  <tbody>
    {% for item in req %}
    <tr>
        <td>{{item.owner.first_name}}{{item.owner.last_name}}</td>
        <td>{{item.time}}</td>
        <td>{{item.pnumber}}</td>
        <td>{{item.bnumber}}</td>
        <td>{{item.fnumber}}</td>
        <td><a href="/accounts/requestpage/{{item.pk}}" class="btn btn-primary"> Detail</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>


{% endblock %}
