{% extends "base.html" %}

{% block title %}Welcome to the DCSSA RSVP website!{% endblock%}

{% block body %}
  <h5>Please Login</h5>
{% if form.errors %}
<p>Your username and password did not match. Please try again.</p>
{% endif %}
<div class="login-form">
  <form action="{% url "accounts:login" %}" method="post">
    {{ form.as_p }}
    {% csrf_token %}
    <p><input type="submit" value="Log-in"></p>
  </form>
</div>
<p>Don't have an account? Register <a href="{% url "accounts:register" %}">here</a></p>

{% endblock %}
