{% extends "base.html" %}

{% block title %}Logged out{% endblock %}

{% block body %}
<h1>Logged out</h1>
<p>You have been successfully logged out. You can <a href="{% url "accounts:login" %}">login again.</p>
{% endblock %}